.container {
  position: relative;
  z-index: 10;
}

.open-btn {
  margin: 10px;
  padding: 10px;
  background-color: #3c8693;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

.open-btn:hover {
  transform: scale(1.1);
  background-color: #25555d;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background: #25555d;
  color: white;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 3;
}

.sidebar.open {
  left: 0;
}

.close-btn {
  background: #25555d;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 40px;
  font-weight: bold;
}

.close-btn:hover {
  transform: scale(1.2);
  background-color: #25555d;
}

.sidebar h2 {
  margin-top: 35px;
  padding: 0;
  font-size: 40px;
  font-weight: bolder;
}

.Home_btn, .Map_btn {
  position: relative;
  background-color: #25555d;
  color: white;
  margin: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 30px;
  padding: 0;
  font-size: 25px;
}

.sidebar li a {
  margin: 10px 0;
  display: inline-block;
  text-decoration: none;
  padding: 15px 0px;
}

.nav-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-button:hover {
  transform: scale(1.1); /* Hace que el botón crezca ligeramente */
  transform: translateX(10px); /* Mueve el texto e icono 10px a la derecha */
  background-color: rgba(255, 255, 255, 0.2); /* Cambia el fondo al pasar el cursor */
}

.nav-button .icon {
  transition: transform 0.3s ease;
}

.nav-button:hover .icon {
  transform: rotate(10deg); /* Hace que el icono gire ligeramente */
}
