@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DDD8C4;
    color: black;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    font-family: "Libre-Franklin", serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bolder;
}

.top-bar a:hover {
    text-decoration: underline;
}
